#home {


    .logo-holder {
        grid-column: 2/3;
        grid-row: 2/4;

        img {
            width: 120px;
            height: auto;
        }
    }

    h1 {
        grid-column: 3/5;
        grid-row: 2/3;
        font-size: $header-font-size;
        margin-top: 1em;
        color: $header-color;
        transition: transform .5s ease;
        transform: translateX(200px);
        opacity: 0;

        &.animate.start {
            opacity: 1;
            transform: translateX(0px);
        }
    }


    p#tagline {
        grid-column: 3/5;
        grid-row: 3/4;
        font-size: 1.5em;
        color: $secondary-color;
        transition: transform .5s ease;
        transform: translateX(300px);
        opacity: 0;

        &.animate.start {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .story-link {
        grid-row: 4/5;
        grid-column: 3/5;

        a {
            margin-right: 20px;
        }

    }
}

@media screen and (min-width:300px) and (max-width:1200px) {
    body>section#home {
        grid-template-columns: 2vw 18vw repeat(3, 1fr);
        grid-template-rows: 9vh 10em repeat(2, 1fr) 1vh;
        min-height: auto;

        .button {
            font-size: 1.4em;
            width: 47vw;
            margin-bottom: 2em;
            padding: 1em;
        }
    }

    #home p#tagline {
        line-height: 1.4em;
    }
}

@media screen and (min-width:501px) and (max-width:700px) {

    body>section#home {
        h1 {
            font-size: 2em;
            grid-column: 3/6;
            padding: 2.5em 0em 0em .5em;
        }  p#tagline{
            padding: 0em 1em;
        }

    }
}

@media screen and (min-width:300px) and (max-width:500px) {
    body>section#home {
        .button {
            font-size: 1em;
        }

        h1 {
            font-size: 2em;
            grid-column: 3/6;
            padding:1.5em 0em 0em 1.5em;
        }

        p#tagline{
            grid-column: 1/6;
            padding: 0em 1em;
        }

        .logo-holder {

            padding-top: 2em;

            img {
                width: 80px;

            }
        }
    }
}