$header-font-size : 3em;
$main-font-family : 'Lato',
sans-serif;
$content-color : #000;
$header-color : #000;
$secondary-color : #000;
$base-background-color :#303236;
$secondary-font-color : #fff;
$footer-font-size : 1em;

