<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MM Digital Solutions - Make a difference</title>
    <link rel="stylesheet" href="/public/css/style.css?v0.1">
    <!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <section id="home">
        <div class="logo-holder">
            <img src="/public/images/logo.png" alt="MM Digital Solutions" />
        </div>

        <h1 class='main-header animate'>MM Digital Solutions</h1>
        <p id="tagline" class="animate">Providing the digital solutions to improve the efficiency
            and to reduce the cost in YOUR business.</p>
        <div class="story-link">
            <a href="#" data-to="#who-we-are" class="button scrollTo">Read our story</a>
            <a href="https://fb.me/msg/mmdigitalsolutions" target="_blank" class="button reverse"><i
                    class="fab fa-facebook-messenger"></i> Talk To Us</a>
        </div>

    </section>
    <section id="services">
        <h2 class="sub-title">What can we help you</h2>
        <div class="service">
            <img src="/public/images/services/social.png" alt="Social Media Strategy" />
            <div>
                <h3>Social Media Strategy</h3>
                <p>
                    It is to spread the words of your business's offers. Your customers need to know what you are
                    selling and the differences between your business & it's competitors before they consider buying
                    from you.
                </p>
            </div>
        </div>
        <div class="service">
            <img src="/public/images/services/website.png" alt=Branding Website" />
            <div>
                <h3>Branding Website</h3>
                <p>
                    It is to put your business’s key information on Internet. Your website will generate the impression
                    to your potential customers. It is very important to provide all the necessary information while
                    projecting the attributes of your brand
                </p>
            </div>
        </div>
        <div class="service">
            <img src="/public/images/services/mobile-app.png" alt="Mobile Application" />
            <div>
                <h3>Mobile Application</h3>
                <p>
                    Your customers will no longer needs to come to your shop or the factory. They will be able to easily
                    purchase your goods or book your services through their mobile phones.
                </p>
            </div>
        </div>
        <div class="service">
            <img src="/public/images/services/chatbot.png" alt="Chat Bot" />
            <div>
                <h3>Chatbot</h3>
                <p>
                    The chatbots are the best in helping the customer support side of your business-operation. And also
                    they
                    are very helpful in selling your goods or services through already user-familiar messenger
                    environments.
                </p>
            </div>
        </div>
        <div class="service">
            <img src="/public/images/services/information-system.png" alt="(Internal) Information System" />
            <div>
                <h3>(Internal) Information System</h3>
                <p>
                    In order for a business to run systematically & efficiently, all the transactions (/ actions) of the
                    business will need to be logged in an Information System. The IS will help you a lot in detecting
                    the
                    room for improvements and (potential) leaking points in fulfilling your customers.
                </p>
            </div>
        </div>
        <div class="service">
            <img src="/public/images/services/bi.png" alt="Smart Dashboards & Business Intelligence Solution" />
            <div>
                <h3>Smart Dashboards & Business Intelligence Solution</h3>
                <p>
                    It is most important for a business owner like you to be able to view the key data points on top of
                    your
                    fingertip in real-time while you are running between places. This solution will also help you in
                    highlighting the key predictions by using both the traditional business intelligence approaches and
                    also
                    through Machine Learning approaches.
                </p>
            </div>
        </div>
        <div class="service">
            <img src="/public/images/services/consulating.png" alt="FREE Consultation Service" />
            <div>
                <h3>FREE Consultation Service</h3>
                <p>
                    It is very understandable that you may not know what aspect of the technology could help improve
                    your
                    business how. We can help you go through your business goals, long-term / short-term priorities and
                    how
                    a certain aspect of the technology could help you achieve those.
                </p>
            </div>
        </div>
        <div class="fb-link">
            <a href="https://fb.me/msg/mmdigitalsolutions" target="_blank" class="button"><i
                    class="fab fa-facebook-messenger"></i> Talk To Us</a>
        </div>
    </section>
    <section id="who-we-are">
        <div class='left-section'>
            <div class="swiper-container-images who-we-are-slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/public/images/whoweare/whoweare1.png" style="height:100%;" alt="Who we are">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/images/whoweare/whoweare2.png" style="height:100%;" alt="Who we are">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/images/whoweare/whoweare3.png" style="height:100%;" alt="Who we are">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/images/whoweare/whoweare4.png" style="height:100%;" alt="Who we are">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/images/whoweare/whoweare5.png" style="height:100%;" alt="Who we are">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <h3>Why We Exist?</h3>
            <p>To help local, brick & motor businesses with the power of digital solutions in reducing the costs &
                improving the efficiency.</p>
            <div class="swiper-container-images why-we-exist-slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/public/images/whyweexist/whyweexist1.png" style="height:100%;"
                            alt="Who we are">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/images/whyweexist/whyweexist2.png" style="height:100%;"
                            alt="Who we are">
                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

            </div>
        </div>
        <div class="right-image-section">
            <h3>Who We Are</h3>
            <div>
                <p>Best combination of young + energetic and talent + experienced within the team.</p>
                <p>Lead by two veteran developers (<a href="https://www.linkedin.com/in/aungpyaephyo/"
                        target="_blank">Ko Aung Pyae Phyo</a> & <a href="https://www.linkedin.com/in/thethlaing/"
                        target="_blank">Ko Thet Hlaing</a>) who has decade-long experiences
                    in building digital solutions both in Myanmar and in Singapore.</p>
            </div>
            <div class="swiper-container-images why-we-exist-slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/public/images/whyweexist/whyweexist1.png" style="height:100%;"
                            alt="Who we are">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/images/whyweexist/whyweexist2.png" style="height:100%;"
                            alt="Who we are">
                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

            </div>
            <div class="swiper-container-images who-we-are-slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/public/images/whoweare/whoweare1.png" style="height:100%;" alt="Who we are">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/images/whoweare/whoweare2.png" style="height:100%;" alt="Who we are">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/images/whoweare/whoweare3.png" style="height:100%;" alt="Who we are">
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/images/whoweare/whoweare4.png" style="height:100%;" alt="Who we are">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>


    </section>
    <section id="what-we-build">
        <h2 class="sub-title">Let's see, what we've built</h2>
        <img src="/public/images/products/hungry-in-hand-min.png" alt="Hand" class="hand" />
        <div class="project">
            <img class="zoom" src="/public/images/products/WWHB-MF-min.png" alt="Mother Finance" />
        </div>
        <div class="project ownproduct">            
            <picture>
                    <source srcset="/public/images/products/OwnProducts-min.png" media="(min-width: 480px)">
                    <img src="/public/images/products/OwnProducts-full.png" alt="Own Product">
            </picture>
        </div>
        <div class="project">
            <img class="zoom" src="/public/images/products/WWHB-JS-min.png" alt="JS" />
        </div>
        <div class="project">
            <img class="zoom" src="/public/images/products/WWHB-MB-min.png" alt="Medibox" />
        </div>
    </section>
    <section id="culture-tech-stack">
        <div id="tech-stack">
            <div class='title'>
                Tech Stacks
            </div>
            <div class='sperator'>

            </div>
            <div>
                <picture>
                    <source srcset="/public/images/tech-stacks/tech-stack-logos.png" media="(min-width: 480px)">
                    <img src="/public/images/tech-stacks/tech-stack-vertical.png" alt="Tech Stack">
                </picture>
            </div>
        </div>
        <div id="our-cultures">
            <h2 class="sub-title">Our Culture</h2>
            <div class="swiper-container our-culture">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <h3 class="culture-title">#TeamSharingThursday</h3>
                        <div class="culture-block">
                            <div class="image-holder">
                                <div class="swiper-container swiper-container-v">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img style="max-width:450px"
                                                src="/public/images/culture/culture1.JPG"
                                                alt="#TeamSharingThursday" /></div>
                                        <div class="swiper-slide"><img style="max-width:450px"
                                                src="/public/images/sharing/sharing1.png"
                                                alt="#TeamSharingThursday" /></div>
                                        <div class="swiper-slide"><img style="max-width:450px"
                                                src="/public/images/sharing/sharing2.png"
                                                alt="#TeamSharingThursday" /></div>
                                        <div class="swiper-slide"><img style="max-width:450px"
                                                src="/public/images/sharing/sharing3.png"
                                                alt="#TeamSharingThursday" /></div>
                                        <div class="swiper-slide"><img style="max-width:450px"
                                                src="/public/images/sharing/sharing4.png"
                                                alt="#TeamSharingThursday" /></div>
                                    </div>
                                    <div class="swiper-pagination swiper-pagination-v"></div>
                                </div>
                            </div>
                            <div class="description">
                                <p>
                                    Every Thursday Evening, one of our team members shares a certain aspect of
                                    technologies with the team. Usually, the technology in TST are more or less related
                                    in building the digital product. </p>
                                <p>
                                    Starting from February 2019, we have decided to organize the category of sharing
                                    topic in monthly basis. Such as “Key Components in Blockchain”, and “UI Designs in
                                    Websites & Mobile Applications”.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <h3 class="culture-title">#ImagineTheSolution</h3>
                        <div class="culture-block">
                            <div class="image-holder">
                                <img style="max-width: 450px;" src="/public/images/culture/culture2.png"
                                    alt="#TeamSharingThursday" />
                            </div>
                            <div class="description">
                                <p>
                                    The curse of being energetic, hungry & foolish is - seeing a lot of
                                    room-for-improvements in usual day-to-day activities. And whenever we see a
                                    room-for-improvement in a certain area, we imagine a better solution.
                                </p>
                                </p>
                                Our imagination may not be perfect (who’s does ?). But, this is the only way we can
                                evaluate the feasibility of our imaginations for better solution.
                                </p>
                                </p>
                                Then, we think. Should we be quiet and keeping all those imagination ourselves ? We
                                don’t think this is the way it should be. Besides, we won’t be able to pursuit in
                                building all those solutions anyway. So, have at it (if you are interested).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h3 class="culture-title">#MakeByMMDS</h3>
                        <div class="culture-block">
                            <div class="image-holder">
                                <img style="max-width: 450px;" src="/public/images/culture/culture3.png"
                                    alt="#TeamSharingThursday" />
                            </div>
                            <div class="description">
                                <p>
                                    Every now-and-then, we get to build cool & exciting stuffs. Either for our own or
                                    for our clients.
                                </p>
                                </p>
                                This program is to share the solutions we have built successfully and how it is be used
                                in general public.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <h3 class="culture-title">#mmDSTravel</h3>
                        <div class="culture-block">
                            <div class="image-holder">
                                <div class="swiper-container swiper-container-v">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide"><img style="max-width:450px"
                                                src="/public/images/whoweare/whoweare1.png" alt="#mmDSTravel" />
                                        </div>
                                        <div class="swiper-slide"><img style="max-width:450px"
                                                src="/public/images/whoweare/whoweare2.png" alt="#mmDSTravel" />
                                        </div>
                                        <div class="swiper-slide"><img style="max-width:450px"
                                                src="/public/images/whoweare/whoweare5.png" alt="#mmDSTravel" />
                                        </div>
                                    </div>
                                    <div class="swiper-pagination swiper-pagination-v"></div>
                                </div>

                            </div>
                            <div class="description">
                                <p>
                                    Traveling as a team give us the refreshment we need, more organic team bonding and
                                    different perspectives on the things that we are doing or about to do.
                                </p>
                                <p>
                                    Besides, who doesn’t like traveling ?
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>
        </div>
    </section>
    <div class="social-links">
        <a href="https://www.facebook.com/mmdigitalsolutions/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/company/mm-digital-solutions/" target="_blank"><i
                class="fab fa-linkedin"></i></a>
        <a href="tel:+959 9725 43010"><img src="/public/images/footer/phone-min.png" /></a>
        <a href="https://www.google.com/maps/place/MM+Digital+Solutions/@16.7797873,96.1705879,15z/data=!4m2!3m1!1s0x0:0x6c9a61e137dc0dc?sa=X&ved=2ahUKEwjY6abK57rhAhWRWX0KHX83BdAQ_BIwFnoECAoQCA"
            target="_blank">
            <img src="/public/images/footer/gmap-min.png" class="gmap" />
        </a>

        <a href="https://fb.me/msg/mmdigitalsolutions" target="_blank"><img
                src="/public/images/footer/messenger-min.png" /></a>
    </div>
    <footer>
        Copyright © 2019. <br />
        MM Digital Solutions Co., Ltd. All rights reserved <br />
        +959 9725 43010
    </footer>
    <script src="/public/js/swiper.min.js" defer></script>
    <script src="/public/js/app.js" defer></script>
</body>

</html>